body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

h1 {
  font-weight: 300;
  padding-top: 3em;
  padding-bottom: 3em;
}
